---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, categories } = Astro.props
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-gray-100">
    <Header />
    <div class="container mx-auto mt-8">
      <!-- Article details -->
      <article class="bg-white rounded-lg p-6 mb-4 shadow-md">
        <h1 class="text-3xl font-bold mb-2">{title}</h1>
        <p class="text-gray-600 text-sm mb-2">
          Published on <FormattedDate date={pubDate} />
        </p>
        {
          updatedDate && (
            <p class="text-gray-600 text-sm mb-2">
              Last Updated on <FormattedDate date={updatedDate} />
            </p>
          )
        }
        {
          categories && (
            <p class="text-gray-600 text-sm mb-2">
              Categories:
              {categories.map((category, index) => (
                <>
                  {index > 0 && <>, </>}
                  <a href="#" class="text-blue-500">
                    {category}
                  </a>
                </>
              ))}
            </p>
          )
        }

        <div class="mt-4">
          <!-- Article content -->
          <slot />
        </div>
      </article>
    </div>
    <Footer />
  </body>
</html>
